@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Lato", sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
}

html { scroll-behavior: smooth; }

body {
    padding: 15px;
    background-color: #f5f5f5;
}

ul { list-style: none; }

br { height: 1em; }

button,
a {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-decoration: none !important;
}

a:focus, a:active {
    outline: none !important;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

button:disabled,
input:disabled,
select:disabled,
textarea:disabled {
    background-color: #f4f4f4 !important;
    opacity: 0.7;
    cursor: default !important;
}

.hidden { display: none !important; }

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #cccccc;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
    border: 2px solid #333;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #333;
}