.grid { display: grid; }

.grid-1 { grid-template-columns: 1fr; }
.grid-2 { grid-template-columns: repeat(2, 1fr); }
.grid-3 { grid-template-columns: repeat(3, 1fr); }
.grid-4 { grid-template-columns: repeat(4, 1fr); }
.grid-5 { grid-template-columns: repeat(5, 1fr); }
  
@media (max-width: 575px) { 
    .grid-2, .grid-3, .grid-4, .grid-5 { grid-template-columns: 1fr; } 
}
  
@media (min-width: 576px) and (max-width: 767px) { 
    .grid-4, .grid-5 { grid-template-columns: repeat(2, 1fr); } 
}
  
@media (min-width: 768px) and (max-width: 991px) { 
    .grid-4, .grid-5 { grid-template-columns: repeat(3, 1fr); } 
}
  
@media (min-width: 992px) and (max-width: 1199px) { 
    .grid-5 { grid-template-columns: repeat(4, 1fr); } 
}

.gap-5  { gap: 5px !important; }
.gap-10  { gap: 10px !important; }
.gap-15  { gap: 15px !important; }
.gap-20  { gap: 20px !important; }
.gap-25  { gap: 25px !important; }
.gap-30  { gap: 30px !important; }
.gap-35  { gap: 35px !important; }
.gap-40  { gap: 40px !important; }
.gap-45  { gap: 45px !important; }
.gap-50  { gap: 50px !important; }

.r-gap-5  { row-gap: 5px !important; }
.r-gap-10  { row-gap: 10px !important; }
.r-gap-15  { row-gap: 15px !important; }
.r-gap-20  { row-gap: 20px !important; }
.r-gap-25  { row-gap: 25px !important; }
.r-gap-30  { row-gap: 30px !important; }
.r-gap-35  { row-gap: 35px !important; }
.r-gap-40  { row-gap: 40px !important; }
.r-gap-45  { row-gap: 45px !important; }
.r-gap-50  { row-gap: 50px !important; }