.field {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.field * { text-shadow: none !important; }

.field > input {
    font-size: 17px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc; 
}

.field > button { 
    width: fit-content;
    padding: 10px;
    border-radius: 8px;
    border: 0;
    color: #fff;
    background-color: #333;
}

.field > p {
    display: none;
    width: 100%;
    max-height: 120px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    font-size: 17px;
    border-radius: 8px;
    border: 1px dashed #ccc;
    background-color: #f5f5f5;
}