.link,
.link-inverse {
    width: fit-content;
    margin-top: 15px;
    padding: 8px 10px;
    border: 1px dashed #3a78ab;
    border-radius: 10px;
    font-size: 15px;
    color: #3a78ab;
}

.link-inverse {
    border: 1px dashed #13cfcf !important;
    color: #13cfcf !important;
}

.link i,
.link-inverse i {
    font-size: 18px;
    display: inline-block;
    margin-right: 5px;
    animation: energy 0.5s infinite;
}

@keyframes energy {
    0% { transform: scale (1, 1); }
    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.2, 0.8); }
    75% { transform: scale(0.95, 1.05); }
}