main {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: calc(100vw - (2 * var(--body-padding)));
    height: calc(100vh - 110px);
    margin-top: 75px;
    border-radius: 15px;
    overflow-x: none;
    overflow-y: auto;
}