nav {
    position: fixed;
    top: var(--body-padding);
    left: var(--body-padding);
    z-index: 777;
    overflow-x: auto;
    overflow-y: none;
    width: calc(100vw - (2 * var(--body-padding)));
    display: flex;
    flex-wrap: nowrap;
    gap: var(--border-size);
    align-items: center;
    justify-content: space-around;
    padding: 0 1px;
    border: var(--border-size) solid #252525;
    border-radius: 15px;
    background: #252525;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}
  
nav a {
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px dashed #404040;
    transition: background-color .2s ease-in-out, box-shadow .2s ease-in-out;
}
  
nav a:hover,
nav a.active {
    background: #333;
    box-shadow: 0 2px 5px -1px rgba(50, 50, 93, 0.25), 0 1px 3px -1px rgba(0, 0, 0, 0.3);
}