#player {
    position: fixed;
    top: 0;
    right: 58px;
    width: 100vh;
    padding: 10px;
    transform: rotate(-90deg);
    transform-origin: top right;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    transition: none !important;
    background-color: #fff;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    overflow: hidden;
}

#player:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#player > button {
    transform: rotate(90deg);
    border-radius: 100px;
    padding: 8px;
    border: 0;
    color: #fff;
    background-color: #333;
}

#player > button i { 
    font-size: 20px;
    line-height: 0; 
}

#player > p {
    text-wrap: nowrap;
    font-size: 14px;
    color: #333;
    max-width: 150px;
    overflow: hidden;
}

@media (max-width: 1300px) {
    body {
        padding-right: 76px;
    }
}